html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: yellowgreen;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background-color: yellowgreen;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Это свойство позволит футеру занять нижнее положение */
}
.table td {
    max-width: 210px; /* Установите максимальную ширину ячейки по вашему усмотрению */
    word-break: break-all; /* Перенос слов при достижении максимальной ширины */
}